#team{
    /* Light Blue */
    background-color:#a8dadc;
    color:#e63946;
    overflow-x:hidden;
}
/* Team page carousel */
.content-container{
    position:absolute;
    height:100%;
    width:100%;
}
.preview1{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transition: opacity 1s;
}
.preview2{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    left:50%;
    top:50%;
    transform:translate(50%,-50%);
    -webkit-transform:translate(50%,-50%);
    -moz-transform:translate(50%,-50%);
    transition: opacity 1s;
}
.preview3{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    left:50%;
    top:50%;
    transform:translate(50%,-50%);
    -webkit-transform:translate(50%,-50%);
    -moz-transform:translate(50%,-50%);
    transition: opacity 1s;
}
.switchRight{
    transform:translate(50%,-50%);
    -moz-transform:translate(50%,-50%);
    -webkit-transform:translate(50%,-50%);
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.switchCenter{
    transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.switchLeft{
    transform:translate(-150%,-50%);
    -moz-transform:translate(-150%,-50%);
    -webkit-transform:translate(-150%,-50%);
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.avatar{
    position:absolute;
    width:25%;
    padding-top:25%; /* Keeps 1:1 aspect ratio with width */
    top:33%;
    transform:translate(-75%,-50%);
    -webkit-transform:translate(-75%,-50%);
    -moz-transform:translate(-75%,-50%);
    visibility:hidden;
    opacity:0;
}
.pic{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    max-width:100%;
    max-height:100%;
    border:10px solid #f1faee;
}
.graph{
    position:absolute;
    width:25%;
    padding-top:25%;
    top:33%;
    transform:translate(calc(25% + 11px),-50%);
    -webkit-transform:translate(calc(25% + 11px),-50%);
    -moz-transform:translate(calc(25% + 11px),-50%);
}
.bar{
    position:absolute;
    height:15%;
    width:0;
    background:#1d3557;
}
.bar p{
    font-size:1em;
    text-transform:uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font:size 4vw; /* RELATIVE VIEW WIDTH, FIX IT PROPERLY */
    letter-spacing:2px;
    color:#f1faee;
    margin-left:2em;
}
/* 1440p */
@media (max-width:2560px){
    .bar p{
        line-height:5em;
    }
}
/* 1080p */
@media (max-width:1920px){
    .bar p{
        line-height:4em;
    }
}
/* 720p */
@media (max-width:1280px){
    .bar p{
        line-height:3em;
    }
}
#bar1{
    top:0;
    visibility:hidden;
    opacity:0;
}
#bar1 p{
    visibility:hidden;
    opacity:0;
}
#bar2{
    top:25%;
    transform:translateY(-25%);
    visibility:hidden;
    opacity:0;
}
#bar2 p{
    visibility:hidden;
    opacity:0;
}
#bar3{
    top:50%;
    transform:translateY(-50%);
    visibility:hidden;
    opacity:0;
}
#bar3 p{
    visibility:hidden;
    opacity:0;
}
#bar4{
    bottom:25%;
    transform:translateY(25%);
    visibility:hidden;
    opacity:0;
}
#bar4 p{
    visibility:hidden;
    opacity:0;
}
#bar5{
    bottom: 0;
    visibility:hidden;
    opacity:0;
}
#bar5 p{
    visibility:hidden;
    opacity:0;
}
#bar6{
    top:0;
    visibility:hidden;
    opacity:0;
}
#bar6 p{
    visibility:hidden;
    opacity:0;
}
#bar7{
    top:25%;
    transform:translateY(-25%);
    visibility:hidden;
    opacity:0;
}
#bar7 p{
    visibility:hidden;
    opacity:0;
}
#bar8{
    top:50%;
    transform:translateY(-50%);
    visibility:hidden;
    opacity:0;
}
#bar8 p{
    visibility:hidden;
    opacity:0;
}
#bar9{
    bottom:25%;
    transform:translateY(25%);
    visibility:hidden;
    opacity:0;
}
#bar9 p{
    visibility:hidden;
    opacity:0;
}
#bar10{
    bottom: 0;
    visibility:hidden;
    opacity:0;
}
#bar10 p{
    visibility:hidden;
    opacity:0;
}
#bar11{
    top:0;
    visibility:hidden;
    opacity:0;
}
#bar11 p{
    visibility:hidden;
    opacity:0;
}
#bar12{
    top:25%;
    transform:translateY(-25%);
    visibility:hidden;
    opacity:0;
}
#bar12 p{
    visibility:hidden;
    opacity:0;
}
#bar13{
    top:50%;
    transform:translateY(-50%);
    visibility:hidden;
    opacity:0;
}
#bar13 p{
    visibility:hidden;
    opacity:0;
}
#bar14{
    bottom:25%;
    transform:translateY(25%);
    visibility:hidden;
    opacity:0;
}
#bar14 p{
    visibility:hidden;
    opacity:0;
}
#bar15{
    bottom: 0;
    visibility:hidden;
    opacity:0;
}
#bar15 p{
    visibility:hidden;
    opacity:0;
}
.timer{
    position:absolute;
    left:50%;
    top:80%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    width:100%;
    display:flex;
    justify-content:center;
    transition: opacity 2s;
}
.timer ul li{
    width:100px;
    height:100px;
    background:#a8dadc;
    list-style:none;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:2px solid #f1faee;
    margin:0 10px;
}
.timer ul li a{
    font-size:20px;
    text-decoration:none;
    color:#f1faee;
    line-height:100px;
    display:block;
}
.timer ul li:hover{
    transform: scale(1.1);
    transition: 0.7s;
    background: #f1faee;
}
.timer ul li:hover a{
    color: #a8dadc;
    transition: 0.5s;
    cursor: pointer;
}
.sneaky{
    visibility: hidden;
    opacity: 0;
}
.in-depth{
    width: calc(80% - 40px);
    height: 80%;
    /* background: #1d3557; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transition: opacity 1s;
}
.person{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 2em;
    left: 2em;
}
.personInfo{
    position: absolute;
    width: 200px;
    top: calc(200px + 3em);
    left: 2em;
    color: #1d3557;
    /* background: grey; */
}
.lifeStory{
    position: absolute;
    width: calc(75% - 4em);
    left: calc(200px + 3em);
    top: 2em;
    color: #1d3557;
}
.back{
    background-color: #1d3557a8; /* On load color */
    height:40px; /* Menu-bar width component 1/2 */
    position:absolute;
    transform-origin:top left 0;
    -webkit-transform-origin:top left 0;
    -moz-transform-origin:top left 0;
    transform:rotate(-90deg) translate(-100%, 0);
    -webkit-transform:rotate(-90deg) translate(-100%, 0);
    -moz-transform:rotate(-90deg) translate(-100%, 0);
    width:100vh; /* Full screen, flipped to height */
    z-index:1;
    line-height: 35px;
    text-align: center;
    color: #f1faee;
    transition: opacity 1s;
}
.back:hover{
    background-color: #1d3557;
    transition: 0.5s;
    cursor: pointer;
}
.back:hover p{
    font-weight: bold;
    transition: 0.3s;
}
/* End of Team page carousel */